<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>Поздравление</title>
</head>
<body class="home">
<h1 class="big-text-center-page">Поздравляем тебя! Теперь ты тоже любитель деревьев!</h1>
<div class="fingerdiv">
    <img class="finger" src="static/great-finger.jpg">
    <img class="finger" src="static/great-finger2.jpg">
</div>

<div class="fingerdiv">
<a href="/"><button>Дом Клуба</button></a>
<a href="/listing"><button>Список участников</button></a> <br>
</div>

</body>
</html>