<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>Дом Клуба</title>
</head>
<body class="home">

    <img class = "oaks" src="static/oak.png">
    <div class="center-page">
        <h1 class="big-text-center-page">Клуб любителей деревьев</h1>
        <img class = "finger-home" src="static/finger_up.jpg">
        <p class="text-center-page">Клуб любителей деревьев - одна из самых старейших студенческих организаций нашего института Дендрологии Иркутска.
            Участники клуба ежегодно участвуют в международном конкурсе по скоростному обниманию деревьев -  SpeedTreeHug, часто унося
            с собой главный приз - золотой дуб. К слову, данная награда настолько тяжелая, что уносят ее как минимум 10 студентов.
            Все награды клуба можно найти в Доме Клуба в самом институте. На данным момент золотых дубов в коллекции 16 из 15 лет
            сущетсвования конкурса. Самый первый дуб на территорию института принес заблудившийся в Сибири кельтский друид, оставивший
            свое скоровище там, где сейчас находится наше главное здание. Вступают в клуб только самые успешные будущие дендрологи нашего
            института.
        </p>

        <div class="two-buttons-home">
            <a href="/auth-form"><button>Подать заявку</button></a>
            <a href="/listing"><button>Список участников</button></a>
        </div>

    </div>
    <img class = "oaks" src="static/oak.png">
</body>
</html>